 /* Đảm bảo bạn đã bao gồm các thành phần CSS của Bootstrap trước khi thêm các quy tắc tùy chỉnh */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

   /* Tổng quát cho toàn bộ ứng dụng */
body {
    font-family: 'Poppins', sans-serif;
}

/* Thanh điều hướng */
.navbar {
    position: sticky;
    background-color: #fcffff!important; /* Màu nền trắng */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    padding: 0.6rem 1rem; /* Giảm padding để thu hẹp chiều cao */
    border-bottom: 2px solid #f1f1f1; /* Đường viền dưới */
}

.navbar-brand {
    font-size: 1.3rem; /* Giảm kích thước chữ */
    font-weight: 600;
    color: #3490dc !important; /* Màu xanh chính */
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #1d68a7 !important; /* Màu khi di chuột */
}

.navbar-nav .nav-link {
    font-size: 0.9rem; /* Giảm kích thước chữ */
    font-weight: 500;
    color: #464747; /* Màu chữ xám đậm */
    padding: 0.3rem 0.8rem; /* Giảm padding để thu hẹp chiều cao */
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #3490dc; /* Màu xanh khi di chuột */
}

.nav-item.active .nav-link {
    color: #3490dc; /* Màu xanh cho mục đang chọn */
    font-weight: 600; /* Đậm hơn khi mục được chọn */
}

.navbar-toggler {
    border: none; /* Xóa đường viền của nút toggler */
    outline: none; /* Xóa viền ngoài */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%2855, 65, 81, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-color: #129cca; /* Màu nền của biểu tượng */
    filter: invert(0.5); /* Đổi màu icon thành xám đậm */
}

/* Hiệu ứng cho thanh điều hướng khi cuộn */
.navbar.fixed-top.scrolled {
    background-color: #3490dc;
    transition: background-color 200ms linear;
}

.navbar.fixed-top.scrolled .nav-link,
.navbar.fixed-top.scrolled .navbar-brand {
    color: #fff !important;
}

.navbar.fixed-top.scrolled .nav-link:hover {
    color: #f1f1f1 !important;
}

/* Đa nền tảng */
@media (max-width: 768px) {
    .navbar-nav {
        background-color: #fff; /* Đảm bảo nền trắng trên di động */
        padding: 0.5rem; /* Giảm padding trên thiết bị di động */
    }

    .nav-item {
        margin-bottom: 0.3rem; /* Giảm khoảng cách giữa các mục */
        background-color: #b50a0a;
    }
}
